*{
    font-family: 'Edu TAS Beginner', cursive;
}

.container {
    width: auto;
    min-height: 100vh;
    
    margin: 0 auto;
}
.galerii {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 8px;
    justify-content: center;
    margin: auto;
}

.pilt {
    
    max-height: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    
}

.pilt:hover {
    transform: scale(1,2);
}

body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}
