.container{
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.galerii{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.pilt{
    max-width: 400%;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
}

body {
    background-color: honeydew;
}
